.header-container {
    color: white;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 10vh;
  }
  .nav-bar-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-items {
    list-style-type: none;
    padding-right: 35px;
    font-size: 20px;
  }
  .link-list {
    text-decoration: none;
    color: white;
  }
  .logout-btn {
    height: 37px;
    width: 130px;
    background-color: #6366f1;
    color: white;
    border-radius: 8px;
    border: 0px;
  }
  